// bootstrap
@import 'bootstrap/dist/css/bootstrap.min.css';

// bootstrap override
@import './bootstrap_override.scss';

// custom styles
@import './styles.scss';

// icons
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

* {
  box-sizing: border-box;
}

:root {
  --border-color: #e1e2e4;
  --bg-color: #fff;
  --bg-hover-color: #eaf1fc;
  --active-color: #1089ff;
}

// dark
[data-theme='dark'] {
  --border-color: #303236;
  --bg-color: #000;
  --bg-hover-color: #151c29;
  --active-color: #1089ff;
}

body {
  min-height: 100vh;
  background: var(--bg-color) !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

// typography

.theme-font {
  color: var(--text-color) !important;
}

a {
  color: #6fa7fd !important;
}

p {
  font-size: 1.125rem;
  line-height: 1.7777778;
  color: rgba(5, 5, 5, 1);
}
.p-small {
  font-size: 1rem;
  line-height: 1.7777778;
}

.p-smaller {
  font-size: 0.7rem;
  line-height: 1;
}

.twitter {
  color: #1da1f2 !important;
}

.gmail {
  color: #bb001b !important;
}

.linkedin {
  color: #0e76a8 !important;
}

.instagram {
  color: #833ab4 !important;
}

.github {
  color: #211f1f !important;
}

.reddit {
  color: #ff4301 !important;
}

.card-left-border {
  border-left: 3px solid #000 !important;
}
